.dark {
  .cmp-teaser {}
  .cmp-teaser__image {}
  .cmp-teaser__content {
    background-color: $grey3;
  }
  .cmp-teaser__pretitle {
    color: $dark-theme-text;
  }
  .cmp-teaser__title {
    color: $dark-theme-text;
  }
  .cmp-teaser__title-link {
    color: $dark-theme-text;
  }
  .cmp-teaser__description {
    color: $dark-theme-text;
  }
  .cmp-teaser__action-container {}
  .cmp-teaser__action-link {
    color: $dark-theme-text;
  }

  .cmp-teaser__action-link:first-child {
    background-color: $accent;
    border-color: $accent;
    border-style: solid;
    border-width: 0.125em;
  }
  .cmp-teaser__action-link:not(:first-child) {
    background-color: rgba(0, 0, 0, 0);
    border-color: $color-background;
    border-style: solid;
    border-width: 0.125em;
  }
}