.textAtBottom {
  .cmp-teaser {}
  .cmp-teaser__image {}
  .cmp-teaser__content {}
  .cmp-teaser__pretitle {
    font-size: 0.625em;
  }
  .cmp-teaser__title {
  }
  .cmp-teaser__title-link {
    font-size: 1.75em;
  }
  .cmp-teaser__description {
    font-size: 1em;
  }
  .cmp-teaser__action-container {}
  .cmp-teaser__action-link {

  }
}