.textAtRight {
  .cmp-teaser {
    display: flex;
  }
  .cmp-teaser__image {
    flex: 3;
  }
  .cmp-teaser__content {
    flex: 2;
    margin: 0;
    padding: 1.25em;
  }
  .cmp-teaser__pretitle {
    font-size: 0.625em;
  }
  .cmp-teaser__title {}
  .cmp-teaser__title-link {
    font-size: 1.75em;
  }
  .cmp-teaser__description {
    font-size: 1em;
  }
  .cmp-teaser__action-container {}
  .cmp-teaser__action-link {
  }
}