.standard {
  .cmp-breadcrumb {}
  .cmp-breadcrumb__list {}
  .cmp-breadcrumb__item {
    :not(:last-child) {
      :after {
        width: 24px;
        height: 24px;
        display: inline-block;
        content: '';
        mask: url("/content/dam/wireframe_demo/right.svg");
        mask-size: cover;
        background-color: $grey2;
        margin: 0 1em;
        vertical-align: -25%;
      }
    }
  }
  .cmp-breadcrumb__item--active {
    color: $text;
  }
  .cmp-breadcrumb__item-link {
    text-decoration: none;
    color: $grey3;
    &:hover {
      color: $text;
    }
    &:focus {
      border-style: solid;
      border-color: $accent-focus;
      border-radius: 0.25em;
      border-width: 0.125em;
    }
  }
}