.cmp-carousel {
  margin: 0.5em;
}
.cmp-carousel__content {
  position: relative;
}
.cmp-carousel__item {}
.cmp-carousel__actions {
  position: absolute;
  bottom: 1.75em;
  right: 0.5em;
  //transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  float: right;
}
.cmp-carousel__action {
  background-color: $grey1;
  border-radius: 0.25em;
  border-color: $grey1;
  border-style: solid;
  box-shadow: none;
  margin: 0.125em;
}
.cmp-carousel__action--disabled {}
.cmp-carousel__action--previous {
  & .cmp-carousel__action-icon {
    &::before {
      content: "\003C";
    }
  }
}
.cmp-carousel__action--next {
  & .cmp-carousel__action-icon {
    &::before {
      content: "\003E";
    }
  }
}
.cmp-carousel__action--pause {
  display: none;
}
.cmp-carousel__action--play {
  display: none;
}
.cmp-carousel__action-icon {
  //color: rgba(0, 0, 0, 0);
  font-weight: 500;
  height: 100%;
  width: 100%;
}
.cmp-carousel__action-text {
  display: none;
}
.cmp-carousel__indicators {
  height: 20px;
}
.cmp-carousel__indicator {
  border-radius: 0.125rem;
  height: 0.125rem;
  width: 2.5rem;
  margin: auto 0.125rem 0 0.125rem;
  background-color: $grey-bar;
}
.cmp-carousel__indicator--active {
  background-color: $grey4;
}